.footer {
  background-color: #fff;
  padding: 20px 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  color: #bababa;
  text-align: center;
  width: 100%;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-item {
  margin: 0 20px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item i {
  font-size: 2.5em;
  color: #bababa;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer-social-item .fa-twitter:hover {
  color: #55acee;
}

.footer-social-item .fa-facebook-official:hover {
  color: #3b5998;
}

.footer-social-item .fa-instagram:hover {
  color: #e95950;
}